@import "tailwindcss";

@theme {
  --color-primary-50: #f6f4ff;
  --color-primary-100: #ebe6ff;
  --color-primary-200: #d8caff;
  --color-primary-300: #b59aff;
  --color-primary-400: #9267ff;
  --color-primary-500: #7745ff;
  --color-primary-600: #6736e6;
  --color-primary-700: #532bba;
  --color-primary-800: #3e208d;
  --color-primary-900: #2d1766;

  --color-secondary-50: #faf7ff;
  --color-secondary-100: #f2edff;
  --color-secondary-200: #e1d9ff;
  --color-secondary-300: #c4b8e6;
  --color-secondary-400: #a495c7;
  --color-secondary-500: #8c7baa;
  --color-secondary-600: #786a90;
  --color-secondary-700: #605572;
  --color-secondary-800: #4a4157;
  --color-secondary-900: #352d3c;
}
